.svg_color {
  fill: $link_color;
  #icn--junglestar & {
    fill: black;
  }
}

.sustainable .product_text svg {
  width: 100px;
  height: 100px;
}

.svg_color_brown {
  fill: $brand_color_brown;
}
.svg_color_green {
  fill: $brand_color_green;
}
