.svg_color {
  fill: $link_color;
  #icn--junglestar & {
    fill: black;
  }
}
.logo_color {
  fill: $brand_color;
}
.logo_color_white {
  fill: white;
}

.logotext,
#icn--deumahlogotext {
  fill: $brand_color_2;
}
